body {
    background-color: #a4b6c7!important;
}
.navbar {
    background-color: #44617d!important;
}
.nav-main.navbar li:nth-child(1) a, .nav-main.navbar li:nth-child(2) a, .nav-main.navbar li:nth-child(3) a, .nav-main.navbar li:nth-child(4) a, .nav-main.navbar li:nth-child(5) a  {
    font-size: 36px;
    font-family: "Candara";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    -moz-transform: matrix( 0.56313066469983,0,0,0.50616034093782,0,0);
    -webkit-transform: matrix( 0.56313066469983,0,0,0.50616034093782,0,0);
    -ms-transform: matrix( 0.56313066469983,0,0,0.50616034093782,0,0);
    z-index: 277;
}
.nav-main.navbar li:nth-child(5) a {
    background-color: #324c66;
    border: none;
    color: #fff;
    padding: 15px;
    font-size: 32px;
    width: 500px;
}
.nav-main.navbar li:nth-child(4) {
    margin-left: -50px;
}
.nav-main.navbar li:nth-child(1):hover a, .nav-main.navbar li:nth-child(2):hover a, .nav-main.navbar li:nth-child(3):hover a, .nav-main.navbar li:nth-child(4):hover a {
    border-bottom: 5px solid #324c66;
}
.nav-main.navbar li:nth-child(1) a, .nav-main.navbar li:nth-child(2) a, .nav-main.navbar li:nth-child(3) a, .nav-main.navbar li:nth-child(4) a {
    border-bottom: 5px solid #44617d;
}
.container {
    background-color: #d2dbe3;
    margin-top: 160px;
}
.image img {
    width: 178px!important;
}
.card p {
    font-size: 10pt;
}
.card p:nth-child(2) {
    color: #888;
    margin-bottom: 0;
}
.button_custom a {
    font-size: 36px;
    font-family: "Candara";
    color: rgb(84, 109, 132);
    background-color: #000;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    -moz-transform: scale(1, 0.9);
    -webkit-transform: scale(1, 0.9);
    -ms-transform: scale(1, 0.9);
    margin-top: 60px;
    float: right;
    right: -50px;
    position: relative;
}
.button_custom:hover a {
    color: rgb(84, 109, 132);
}

.price p:nth-child(1) {
    padding-right: 350px!important;
    font-size: 24px;
    font-family: "Candara";
    color: rgba(0, 0, 0, 0.749);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    -moz-transform: matrix( 0.72620016496998,0,0,0.65358014847298,0,0);
    -webkit-transform: matrix( 0.72620016496998,0,0,0.65358014847298,0,0);
    -ms-transform: matrix( 0.72620016496998,0,0,0.65358014847298,0,0);
}
.size p:nth-child(1) {
    padding-right: 380px!important;
    font-size: 24px;
    font-family: "Candara";
    color: rgba(0, 0, 0, 0.749);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    -moz-transform: matrix( 0.72620016496998,0,0,0.65358014847298,0,0);
    -webkit-transform: matrix( 0.72620016496998,0,0,0.65358014847298,0,0);
    -ms-transform: matrix( 0.72620016496998,0,0,0.65358014847298,0,0);
}

.price p:nth-child(2) {
    font-size: 24px;
    font-family: "Candara";
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    -moz-transform: matrix( 0.69449997153253,0,0,0.62504997437928,0,0);
    -webkit-transform: matrix( 0.69449997153253,0,0,0.62504997437928,0,0);
    -ms-transform: matrix( 0.69449997153253,0,0,0.62504997437928,0,0);
}
.size p:nth-child(2) {
    font-size: 24px;
    font-family: "Candara";
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    -moz-transform: matrix( 0.69449997153253,0,0,0.62504997437928,0,0);
    -webkit-transform: matrix( 0.69449997153253,0,0,0.62504997437928,0,0);
    -ms-transform: matrix( 0.69449997153253,0,0,0.62504997437928,0,0);
}
.price, .size {
    border-bottom: 1px solid black;
    width: 86%;
}
.price {
    margin-bottom: 10px;
}
.price_size {
    margin-top: 270px;
}
.t_shirts div {
    background-color: white;
}
.t_shirts img {
    padding: 100px 0;
}
.t_shirts {
    margin-top: 235px;
}

@media screen and (max-width: 1024px) {
    .nav-main li a {
        font-size: 15pt!important;
    }
    .image {
        margin-right: 5%;
    }
    .button_custom a {
        font-size: 20pt;
        margin-right: 10%;
    }
    .price_size {
        width: 130%;
    }
}
@media screen and (max-width: 768px) {
    .nav-main li a {
        font-size: 14pt!important;
    }
    .nav-main.navbar li:nth-child(4) {
        margin: 0!important;
    }
    .nav-main.navbar li:nth-child(5) {
        margin: 0!important;
        width: 200px;
    }
    .nav-main.navbar li:nth-child(5) a {
        width: 200px;
    }
    .image {
        margin-right: 9%;
    }
    .button_custom a {
        font-size: 18pt;
    }
    .button_custom {
        width: 140px!important;
        flex: 0 0 0!important;
    }
    .price_size {
        width: 170%;
    }
}

@media screen and (max-width: 425px) {
    .nav-main.navbar li:nth-child(5) {
        margin-left: 25%!important;
    }
    .price_size {
        width: 120%;
    }
}